<!-- Swiper -->

<div class="banner-oneimage relative">
	<img
		class="object-cover aspect-21/9 w-full"
		src="https://placehold.jp/1900x800.png"
		alt="banner"
		loading="lazy"
	/>

	<div class="flex flex-col relative lg:absolute w-full bottom-0 left-0">
		<div class="breadcrumbs text-sm p-4 flex items-center flex-wrap w-full">
			<ul class="flex items-center">
				<li class="inline-flex items-center">
					<a href="#" class="text-gray-600 hover:text-primary">
						<svg
							class="w-5 h-auto fill-current mx-2 text-gray-400"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="#000000"
						><path d="M0 0h24v24H0V0z" fill="none"></path><path
								d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"
							></path></svg>
					</a>

					<span class="mx-4 h-auto text-gray-400 font-medium">/</span>
				</li>

				<li class="inline-flex items-center">
					<a href="#" class="text-gray-600 hover:text-primary">
						Page 1
					</a>

					<span class="mx-4 h-auto text-gray-400 font-medium">/</span>
				</li>

				<li class="inline-flex items-center">
					<a href="#" class="text-gray-600 hover:text-primary">
						Page 2
					</a>

					<span class="mx-4 h-auto text-gray-400 font-medium">/</span>
				</li>

				<li class="inline-flex items-center">
					<a href="#" class="text-gray-600 hover:text-primary">
						Page 3
					</a>
				</li>
			</ul>
		</div>
		<div class="flex flex-wrap flex-row">
			<div class="w-full lg:w-2/3 p-6 bg-white/60">
				<h1
					class="card-title text-3xl lg:text-4xl font-display text-primary leading-tight flex items-center justify-center"
				>
					Two Queen Guestroom</h1>
			</div>
			<div
				class="w-full p-4 lg:w-1/3 bg-primary-dark/80 flex items-center justify-center"
			>

				<a
					href="#"
					class="btn-white flex flex-row relative group"
					role="button"
				>
					<svg
						width="6"
						height="40"
						viewBox="0 0 6 40"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M0.5 0.5H5.5V14.8992L3 16.415L0.5 14.8992V0.5Z"
							stroke="#ffffff"
						></path>
						<path
							d="M3 17.7071L5.29312 20.0002L3 22.2933L0.70688 20.0002L3 17.7071Z"
							stroke="#ffffff"
						></path>
						<path
							d="M5.5 39.5L0.5 39.5L0.500001 25.1008L3 23.585L5.5 25.1008L5.5 39.5Z"
							stroke="#ffffff"
						></path>
					</svg>

					<div
						class="whitespace-nowrap group-hover:bg-white group-hover:text-primary flex justify-center text-white items-center px-12 border-t border-b border-white h-10 uppercase"
					>
						Book Now
					</div>
					<svg
						width=" 6"
						height="40"
						viewBox="0 0 6 40"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M0.5 0.5H5.5V14.8992L3 16.415L0.5 14.8992V0.5Z"
							stroke="#ffffff"
						></path>
						<path
							d="M3 17.7071L5.29312 20.0002L3 22.2933L0.70688 20.0002L3 17.7071Z"
							stroke="#ffffff"
						></path>
						<path
							d="M5.5 39.5L0.5 39.5L0.500001 25.1008L3 23.585L5.5 25.1008L5.5 39.5Z"
							stroke="#ffffff"
						></path>
					</svg>
				</a>

			</div>
		</div>
	</div>
</div>