<!-- Swiper -->

<div class="banner-oneimage relative">
	<img
		class="object-cover w-full"
		src="https://placehold.jp/1900x400.png"
		alt="banner"
		loading="lazy"
	/>
  {{> layouts/breadcrumbs}}
</div>