<!-- Swiper -->

<div class="swiper banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		<div class="swiper-slide"><img
				class="object-cover aspect-square lg:aspect-21/9 w-full"
				src="https://placehold.jp/1900x800.png"
				alt="banner"
				loading="lazy"
			/>
		</div>
		
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>