@import 'global';
@import 'swiper';
@import 'card';
@import 'accordion';
@import 'header';
@import 'footer';
@import 'breadcrumbs';

:root {
    --swiper-navigation-color: theme('colors.primary.DEFAULT') !important;
    --swiper-theme-color: theme('colors.primary.DEFAULT') !important;
}

button,
a,
a:hover {
    @apply transition-all duration-300 ease-in-out
}

body {
    @apply text-base
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-title;
}

.all-amenities,
.all-gallery {
    position: relative;

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;

        border-top: 12px solid #fff;
        @apply absolute left-1/2 -translate-x-1/2 top-0 z-20
    }

    @media (max-width: theme('screens.lg')) {
        .card {
            &:nth-child(5) {
                display: none;
            }
        }
    }
}

@media (min-width: theme('screens.lg')) {
    .thumblayout {
        .item {
            &:nth-child(2n) {
                .img {
                    @apply order-2
                }

                .content {
                    @apply order-1
                }
            }

            &.item-hotel {
                align-items: center;

                .text {
                    height: auto;
                    @apply bg-primary-light;
                    margin-left: -4rem;
                    margin-right: -0;
                }

                &:nth-child(2n) {
                    .text {
                        height: auto;
                        @apply bg-primary-light;
                        margin-right: -4rem;
                        margin-left: -0;
                    }
                }
            }
        }
    }
}

.all-testimonial {
    .item-testimonial:nth-child(2n) {
        @apply bg-primary-light;
    }
}

.line-clamp-2 {

    @apply h-12 leading-6;

}

.line-clamp-3 {

    @apply leading-6;
    height: 72px;

}

.line-clamp-4 {

    @apply h-24 leading-6;

}

.line-clamp-5 {

    @apply leading-6;
    height: 120px;

}