@import 'global';
@import 'swiper';
@import 'card';
@import 'accordion';
@import 'header';
@import 'form';
@import 'footer';
@import 'breadcrumbs';
@import 'badge-price';


:root {
    --swiper-navigation-color: theme('colors.primary.DEFAULT') !important;
    --swiper-theme-color: theme('colors.primary.DEFAULT') !important;
}

button,
a,
a:hover {
    @apply transition-all duration-300 ease-in-out
}

body {
    @apply text-base
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-title;
}

.all-amenities,
.all-gallery {
    position: relative;

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;

        border-top: 12px solid #fff;
        @apply absolute left-1/2 -translate-x-1/2 top-0 z-20
    }

    @media (max-width: theme('screens.lg')) {
        .card {
            &:nth-child(5) {
                display: none;
            }
        }
    }
}

@media (min-width: theme('screens.lg')) {
    .thumblayout {
        .item {
            &:nth-child(2n) {
                .img {
                    @apply order-2
                }

                .content {
                    @apply order-1
                }
            }

            &.item-hotel {
                align-items: center;

                .text {
                    height: auto;
                    @apply bg-primary-light;
                    margin-left: -4rem;
                    margin-right: -0;
                }

                &:nth-child(2n) {
                    .text {
                        height: auto;
                        @apply bg-primary-light;
                        margin-right: -4rem;
                        margin-left: -0;
                    }
                }
            }
        }
    }
}

.all-testimonial {
    .item-testimonial:nth-child(2n) {
        @apply bg-primary-light;
    }
}

.line-clamp-2 {

    @apply h-12 leading-6;

}

.line-clamp-3 {

    @apply leading-6;
    height: 72px;

}

.line-clamp-4 {

    @apply h-24 leading-6;

}

.line-clamp-5 {

    @apply leading-6;
    height: 120px;

}
/* Style the ribbon */
.ribbon {
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}

.ribbon__content {
  left: -15px;
  top: 42px;
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 200px;
  padding: 5px 0;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  outline: 5px solid #f5cd79;
  @apply bg-red-700 text-sm
}

/* Pseudo-elements for ribbon corners */
.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-style: solid;
  border-width: 5px;
}

.ribbon::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  @apply border-primary
}

.ribbon::after {
  bottom: 0;
  right: -0;
  border-top-color: transparent;
  border-right-color: transparent;
 @apply border-primary
}
@keyframes shine {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
   .button-dt2 {
        background: conic-gradient(from 0deg, #FDF8F5, #544C4C, #544C4C, #FDF8F5, #544C4C, #544C4C, #544C4C, #FDF8F5);
        background-size: 300% 300%;
        animation: shine 6s ease-out infinite;
        @apply flex mx-auto p-0.5 rounded-full text-white uppercase hover:scale-105 active:scale-100 transition duration-300;

        span{
            @apply bg-primary px-8 py-2.5 rounded-full font-medium text-white text-sm uppercase;
        }
    }
.button-dt1 {

        background-size: 300% 300%;
        animation: shine 6s ease-out infinite;
        @apply flex bg-primary mx-auto p-0.5 px-8 py-2.5 rounded-full font-medium text-white text-sm uppercase hover:scale-105 active:scale-100 transition duration-300;
    }
