<div class="card">
	<div class="card-header relative">
		<img
			class="object-cover aspect-[3/2]"
			src="https://placehold.jp/600x400.png"
			loading="lazy"
			alt="600x400"
		/>
		<div class="badge" >
  {{!-- <img src="https://assets.codepen.io/1506195/me.jpeg" /> --}}
  <div class="w-max flex items-center bg-primary-dark shadow-lg rounded-full font-[sans-serif]">
  <span
    class="bg-primary text-xs text-white/80 rounded-full w-10 h-10 flex items-center justify-center">Price</span>
  <div class="flex flex-col">
	<span class="price-new font-semibold ml-3 mr-5 leading-none mb-1">120 USD</span>
	<span class="price-old line-through ml-3 mr-5 leading-none">140 USD</span>
  </div>
</div>
</div>
	</div>
	<div class="card-body flex flex-col gap-3 p-3">
		<h3 class="card-title text-xl font-display">Premier Two Queen Guestroom</h3>
		<div class="card-text line-clamp-2">
			Emotion cruise is designed based on the idea of contemporary, luxurious,
			quintessential style. She inherited the precious experience of her sister
			- Stellar of the Seas, to make us stand out and unique from the other one
			in Ha Long - Lan Ha Bay. With designed itineraries, the delicious and
			abundant menu, professional service, and well-trained staff, Emotion
			cruise promises to bring customers a truly memorable experience.
		</div>
		<div class="flex items-center gap-3">
			<img src="https://placehold.jp/24x24.png" loading="lazy" alt="24x24" />
			<div class="line-clamp-1">
				01 queen-sized bed or 01 queen-sized bed & 1 single bed
			</div>
		</div>
		<div class="flex items-center gap-3">
			<img src="https://placehold.jp/24x24.png" loading="lazy" alt="24x24" />
			<div class="line-clamp-1">
				01 queen-sized bed or 01 queen-sized bed & 1 single bed
			</div>
		</div>
		<div class="flex items-center gap-3">
			<img src="https://placehold.jp/24x24.png" loading="lazy" alt="24x24" />
			<div class="line-clamp-1">
				01 queen-sized bed or 01 queen-sized bed & 1 single bed
			</div>
		</div>
	</div>
	<div
		class="mt-auto card-footer flex items-center justify-center text-center pb-5"
	>
		<a class="btn-dark flex flex-row relative group" role="button">
			<svg
				width="6"
				height="40"
				viewBox="0 0 6 40"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M0.5 0.5H5.5V14.8992L3 16.415L0.5 14.8992V0.5Z"
					stroke="#544C4C"
				></path>
				<path
					d="M3 17.7071L5.29312 20.0002L3 22.2933L0.70688 20.0002L3 17.7071Z"
					stroke="#544C4C"
				></path>
				<path
					d="M5.5 39.5L0.5 39.5L0.500001 25.1008L3 23.585L5.5 25.1008L5.5 39.5Z"
					stroke="#544C4C"
				></path>
			</svg>

			<div
				class="group-hover:bg-primary-dark group-hover:text-white flex justify-center items-center px-6 border-t border-b border-primary-dark h-10"
			>
				Click me
			</div>
			<svg
				width=" 6"
				height="40"
				viewBox="0 0 6 40"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M0.5 0.5H5.5V14.8992L3 16.415L0.5 14.8992V0.5Z"
					stroke="#544C4C"
				></path>
				<path
					d="M3 17.7071L5.29312 20.0002L3 22.2933L0.70688 20.0002L3 17.7071Z"
					stroke="#544C4C"
				></path>
				<path
					d="M5.5 39.5L0.5 39.5L0.500001 25.1008L3 23.585L5.5 25.1008L5.5 39.5Z"
					stroke="#544C4C"
				></path>
			</svg>
		</a>
	</div>
</div>