<div class="card card-overlay relative">
	<div class="card-header relative">
		<img
			class="object-cover aspect-[1/1]"
			src="https://placehold.jp/600x600.png"
			loading="lazy"
			alt="600x600"
		/>
	</div>
</div>