<section class="px-3 py-16" id="-1">
	<div
		class="card-text flex flex-col gap-6 xl:w-6/12 text-center mx-auto items-center justify-center"
	>
		<h1
			class="card-title text-3xl lg:text-5xl font-display first-letter:text-primary leading-tight"
		>Experience L’amour cruise, and Tomorrows are Forever Changed</h1>
		<div class="card-body text-xl font-light text-center">
			In the same way the glaciers carved the mountains and lakes, awe and
			inspiration will reshape you. Unleash your inner explorer and discover the
			magic of our mountain haven.
		</div>
	</div>
</section>