<div class="container lg:w-10/12 2xl:8/12 mx-auto">
	<div class="flex items-start lg:items-center mb-6 relative">
		<h2
			class="mb-8 w-full flex justify-center text-3xl uppercase font-display first-letter:text-primary leading-tight"
		>new & event</h2>
		<a
			href="#"
			class="lg:absolute right-0 whitespace-nowrap ms-auto px-4 py-2 flex items-center rounded-md tracking-widest text-sm border border-primary text-primary hover:bg-primary hover:text-white"
		><i class="ri-add-line"></i>
			<span class="hidden md:block">Explore more</span></a>
	</div>
	<div class="grid gap-4 lg:grid-cols-3 lg:gap-16 items-center">
		<div class="flex flex-col items-start gap-4 lg:gap-8">

			<div class="card-body flex flex-col gap-4 p-3">
				<h3 class="card-title text-xl font-display">
					<a class="border-s-2 border-primary pl-4" href="#">
						Premier Two Queen Guestroom
					</a>
				</h3>
				<div class="card-text line-clamp-5">
					Emotion cruise is designed based on the idea of contemporary,
					luxurious, quintessential style. She inherited the precious experience
					of her sister - Stellar of the Seas, to make us stand out and unique
					from the other one in Ha Long - Lan Ha Bay. With designed itineraries,
					the delicious and abundant menu, professional service, and
					well-trained staff, Emotion cruise promises to bring customers a truly
					memorable experience.
				</div>

			</div>
			<div class="card-body flex flex-col gap-4 p-3">
				<h3 class="card-title text-xl font-display"><a
						class="border-s-2 border-primary pl-4"
						href="#"
					>
						Premier Two Queen Guestroom
					</a></h3>
				<div class="card-text line-clamp-5">
					Emotion cruise is designed based on the idea of contemporary,
					luxurious, quintessential style. She inherited the precious experience
					of her sister - Stellar of the Seas, to make us stand out and unique
					from the other one in Ha Long - Lan Ha Bay. With designed itineraries,
					the delicious and abundant menu, professional service, and
					well-trained staff, Emotion cruise promises to bring customers a truly
					memorable experience.
				</div>

			</div>

		</div>
		<div class="flex relative w-full h-auto px-6 lg:px-0">
			<img
				class="w-9/12 aspect-[3/4] object-cover -rotate-6 shadow h-auto"
				src="https://placehold.jp/600x800.png"
				loading="lazy"
				alt="#"
			/>
			<img
				class="w-7/12 absolute -bottom-10 right-0 aspect-[3/4] object-cover rotate-6 shadow"
				src="https://placehold.jp/600x800.png"
				loading="lazy"
				alt="#"
			/>
		</div>
		<div
			class="flex flex-col items-start gap-4 lg:gap-8 align-items-start mt-8 lg:mt-0"
		>
			<div class="card-body flex flex-col gap-4 p-3">
				<h3 class="card-title text-xl font-display">
					<a class="border-s-2 border-primary pl-4" href="#">
						Premier Two Queen Guestroom
					</a>
				</h3>
				<div class="card-text line-clamp-5">
					Emotion cruise is designed based on the idea of contemporary,
					luxurious, quintessential style. She inherited the precious experience
					of her sister - Stellar of the Seas, to make us stand out and unique
					from the other one in Ha Long - Lan Ha Bay. With designed itineraries,
					the delicious and abundant menu, professional service, and
					well-trained staff, Emotion cruise promises to bring customers a truly
					memorable experience.
				</div>

			</div>
			<div class="card-body flex flex-col gap-4 p-3">
				<h3 class="card-title text-xl font-display">
					<a class="border-s-2 border-primary pl-4" href="#">
						Premier Two Queen Guestroom
					</a>
				</h3>
				<div class="card-text line-clamp-5">
					Emotion cruise is designed based on the idea of contemporary,
					luxurious, quintessential style. She inherited the precious experience
					of her sister - Stellar of the Seas, to make us stand out and unique
					from the other one in Ha Long - Lan Ha Bay. With designed itineraries,
					the delicious and abundant menu, professional service, and
					well-trained staff, Emotion cruise promises to bring customers a truly
					memorable experience.
				</div>

			</div>
		</div>
	</div>
</div>