<div class="bg-primary-dark">
	<div
		class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
	>
		<div class="grid row-gap-10 mb-8 lg:grid-cols-6">
			<div
				class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4"
			>
				<div>
					<p class="font-medium tracking-wide text-primary">Category</p>
					<ul class="mt-2 space-y-2">
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>News</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>World</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Games</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>References</a>
						</li>
					</ul>
				</div>
				<div>
					<p class="font-medium tracking-wide text-primary">Apples</p>
					<ul class="mt-2 space-y-2">
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Web</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>eCommerce</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Business</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Entertainment</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Portfolio</a>
						</li>
					</ul>
				</div>
				<div>
					<p class="font-medium tracking-wide text-primary">Cherry</p>
					<ul class="mt-2 space-y-2">
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Media</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Brochure</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Nonprofit</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Educational</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Projects</a>
						</li>
					</ul>
				</div>
				<div>
					<p class="font-medium tracking-wide text-primary">Business</p>
					<ul class="mt-2 space-y-2">
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Infopreneur</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Personal</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Wiki</a>
						</li>
						<li>
							<a
								href="/"
								class="text-primary-light transition-colors duration-300 hover:text-white"
							>Forum</a>
						</li>
					</ul>
				</div>
			</div>
			<div
				class="md:max-w-md lg:col-span-2 p-8 border border-primary/50 rounded-xl shadow-inner"
			>
				<span class="text-base font-medium tracking-wide text-primary">Subscribe
					for updates</span>
				<form class="flex flex-col mt-4 md:flex-row">
					<input
						placeholder="Email"
						required=""
						type="text"
						class="flex-grow w-full h-12 px-4 mb-3 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none md:mr-2 md:mb-0 focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline"
					/>
					<button
						type="submit"
						class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-primary hover:bg-primary/50 focus:shadow-outline focus:outline-none"
					>
						<i class="ri-arrow-right-line"></i>
					</button>
				</form>
				<p class="mt-4 text-sm text-white/50">
					Light Bacon ipsum dolor amet short ribs white salami.
				</p>
			</div>
		</div>
		<div
			class="flex flex-row flex-wrap justify-center lg:justify-between pt-5 pb-10 border-t border-primary/10 sm:flex-row mt-8 lg:mt-0"
		>
			<div class="w1/3 lg:w-1/3 text-sm text-primary">
				<svg
					width="74"
					height="59"
					viewBox="0 0 74 59"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g clip-path="url(#clip0_3316_1732)">
						<path
							d="M15.2476 7.18719C15.2476 7.18719 19.3349 9.11838 23.122 6.85133C26.909 4.58428 30.5793 3.54311 33.9492 4.50031C37.3192 5.45751 40.3388 10.5458 40.8894 10.5458C41.4399 10.5458 45.8943 6.16282 46.9453 5.44072C48.0464 4.66824 49.7648 4.14766 49.331 6.51547C48.8972 8.88328 50.1818 7.70777 50.1818 7.70777C50.1818 7.70777 48.5636 9.94124 47.8796 8.53063C47.1956 7.12002 46.1779 7.03605 44.3428 8.91687C42.5076 10.7977 40.5057 13.3838 39.7049 13.77C38.8874 14.1563 38.4703 13.3334 37.7029 11.8892C36.9355 10.445 35.751 6.66661 30.8462 6.22999C25.9414 5.79337 25.2907 8.68176 20.2358 8.63138C17.2662 8.61459 15.5479 7.43908 15.2476 7.18719Z"
							fill="#AC8671"
						></path>
						<path
							d="M18.4175 11.9618C18.4175 11.9618 21.8208 12.3816 25.0907 11.8778C25.3743 11.8274 25.6746 11.7938 25.9582 11.777C28.1771 11.1725 30.813 11.8106 33.8159 12.7342C35.0838 13.1205 36.4185 13.8426 37.6197 14.4975C38.9376 15.2196 39.8885 15.9585 40.4391 15.8241C41.6403 15.5219 44.4263 12.8182 45.8944 12.0625C46.8287 11.5755 48.0966 11.1893 48.4136 12.3312C49.6815 13.3892 51.233 13.322 51.3832 13.4395C51.3832 13.4395 49.8316 14.212 48.5804 13.406C47.5794 12.751 46.3783 12.7678 44.8434 14.0441C44.7099 14.1616 44.5598 14.2792 44.4263 14.3967C42.3743 16.1432 40.2055 18.0744 38.6874 18.5782C37.6864 18.8973 36.9357 18.511 35.9514 17.7218C34.7669 16.7813 33.2821 14.4135 30.1957 13.4731C27.76 12.7342 26.5755 12.8182 25.1574 12.835C24.39 12.8518 23.5058 12.751 22.4381 12.6671C20.1525 12.4823 18.5676 12.0961 18.4175 11.9618Z"
							fill="#AC8671"
						></path>
						<path
							d="M52.8727 17.8854C52.8727 17.8854 48.852 15.6351 45.2652 18.238C41.6783 20.8409 37.908 22.9065 34.4879 22.2683C31.0512 21.6302 27.8815 17.1969 26.8137 16.29C24.8118 14.594 21.8589 15.4504 21.8589 15.4504C21.8589 15.4504 25.0453 14.1237 28.0483 16.0046C29.433 16.8778 32.5193 20.3036 37.4408 20.2868C42.3623 20.27 42.7461 17.2976 47.7843 16.8946C50.7372 16.6427 52.5557 17.6503 52.8727 17.8854Z"
							fill="#AC8671"
						></path>
					</g>
					<path
						d="M13.4649 39.6098H4.65234L4.68922 39.3886C4.9842 39.3886 5.21772 39.3763 5.3898 39.3517C5.57416 39.3272 5.74009 39.2596 5.88758 39.1489C6.03507 39.0383 6.13954 38.9154 6.20099 38.7802C6.27474 38.6327 6.33619 38.393 6.38536 38.0612C6.44681 37.631 6.47754 36.7584 6.47754 35.4432V30.871C6.47754 29.0397 6.3915 27.9274 6.21943 27.5341C6.05965 27.1899 5.78925 26.9933 5.40823 26.9441C5.22387 26.9195 4.9842 26.9072 4.68922 26.9072L4.65234 26.7044H9.61171L9.57484 26.9072C8.9603 26.9072 8.51168 27.024 8.22899 27.2575C7.92172 27.5156 7.76808 28.7201 7.76808 30.871V35.7198C7.76808 37.0472 7.8111 37.9321 7.89714 38.3746C7.98317 38.8048 8.18597 39.0936 8.50553 39.2411C11.6766 39.2411 13.2621 38.4852 13.2621 36.9735L13.4649 36.9366V39.6098Z"
						fill="#AC8671"
					></path>
					<path
						d="M14.3148 28.6587C14.3148 28.4252 14.1735 28.2715 13.8908 28.1978C13.3008 28.0626 13.0059 27.7307 13.0059 27.2022C13.0059 26.9195 13.098 26.686 13.2824 26.5016C13.4791 26.3173 13.7249 26.2251 14.0199 26.2251C14.3271 26.2251 14.5914 26.3542 14.8126 26.6123C15.0462 26.8581 15.1629 27.2452 15.1629 27.7737C15.1629 28.29 15.0093 28.8062 14.702 29.3224C14.407 29.8386 13.9768 30.2811 13.4115 30.6498L13.1349 30.2995C13.9215 29.7833 14.3148 29.2364 14.3148 28.6587Z"
						fill="#AC8671"
					></path>
					<path
						d="M21.6423 33.6549V35.517C21.6423 36.8813 21.6853 37.7785 21.7713 38.2087C21.8574 38.6266 22.0663 38.8355 22.3982 38.8355C22.6071 38.8355 22.8837 38.7495 23.2278 38.5774L23.32 38.7618C23.2217 38.8355 23.0926 38.9277 22.9328 39.0383C22.773 39.1366 22.4473 39.2718 21.9557 39.4439C21.4641 39.616 20.9909 39.702 20.5361 39.702C20.4132 39.1858 20.3517 38.3623 20.3517 37.2316C20.0813 37.9936 19.7249 38.6143 19.2824 39.0936C18.8522 39.5607 18.25 39.7942 17.4757 39.7942C16.7013 39.7942 16.0868 39.5914 15.632 39.1858C15.1896 38.7679 14.9683 38.2025 14.9683 37.4897C14.9683 35.5108 16.7628 34.5153 20.3517 34.503V33.8393C20.3517 32.9543 20.2227 32.2783 19.9646 31.8113C19.7065 31.3442 19.2271 31.1107 18.5265 31.1107C18.1332 31.1107 17.8137 31.209 17.5678 31.4057C17.322 31.6023 17.1561 31.8174 17.0701 32.051C16.8611 32.6901 16.5477 33.0097 16.1298 33.0097C15.7242 33.0097 15.5214 32.7823 15.5214 32.3275C15.5214 31.8605 15.8287 31.4733 16.4432 31.166C17.0578 30.8587 17.8014 30.7051 18.674 30.7051C19.5467 30.7051 20.2596 30.9571 20.8126 31.461C21.3657 31.9526 21.6423 32.6839 21.6423 33.6549ZM16.3695 37.5634C16.3695 38.0428 16.4863 38.4422 16.7198 38.7618C16.9533 39.069 17.322 39.2227 17.826 39.2227C18.3422 39.2227 18.8092 38.9769 19.2271 38.4852C19.645 37.9813 19.9277 37.4282 20.0752 36.826C20.235 36.2114 20.3272 35.5784 20.3517 34.927C18.9874 34.9393 17.9796 35.1913 17.3282 35.6829C16.6891 36.1745 16.3695 36.8014 16.3695 37.5634Z"
						fill="#AC8671"
					></path>
					<path
						d="M32.8759 34.0052C32.9865 33.1203 33.2692 32.3521 33.724 31.7007C34.191 31.037 34.8363 30.7051 35.6598 30.7051C36.4833 30.7051 37.1224 30.9571 37.5772 31.461C38.0319 31.9649 38.2593 32.6962 38.2593 33.6549V36.5679C38.2593 37.8461 38.3392 38.6389 38.499 38.9461C38.671 39.2411 39.1135 39.3886 39.8264 39.3886L39.8633 39.6098H35.5123L35.5492 39.3886C36.2252 39.3886 36.6308 39.235 36.766 38.9277C36.9012 38.6204 36.9688 37.7785 36.9688 36.4019V33.8393C36.9688 32.9912 36.8459 32.3521 36.6 31.9219C36.3665 31.4917 35.9855 31.2766 35.457 31.2766C34.9285 31.2766 34.4921 31.4733 34.148 31.8666C33.8039 32.2476 33.5457 32.7331 33.3737 33.3231C33.0418 34.4661 32.8759 35.6153 32.8759 36.7707C32.8759 37.926 32.9496 38.6512 33.0971 38.9461C33.2569 39.2411 33.6994 39.3886 34.4245 39.3886L34.4614 39.6098H30.1289L30.1658 39.3886C30.8418 39.3886 31.2474 39.235 31.3826 38.9277C31.5178 38.6204 31.5854 37.7785 31.5854 36.4019V33.8393C31.5854 32.9912 31.4624 32.3521 31.2166 31.9219C30.9831 31.4917 30.6021 31.2766 30.0736 31.2766C29.5451 31.2766 29.1087 31.4733 28.7646 31.8666C28.4205 32.2476 28.1623 32.7331 27.9903 33.3231C27.6584 34.4661 27.4925 35.6153 27.4925 36.7707C27.4925 37.926 27.5662 38.6512 27.7137 38.9461C27.8735 39.2411 28.316 39.3886 29.0411 39.3886L29.078 39.6098H24.5796L24.6164 39.3886C25.3539 39.3886 25.8025 39.2411 25.9623 38.9461C26.1221 38.6389 26.202 37.8338 26.202 36.531V35.0561C26.202 33.2125 26.1098 32.1001 25.9254 31.7191C25.864 31.5839 25.7533 31.461 25.5936 31.3504C25.4461 31.2398 25.2801 31.1722 25.0958 31.1476C24.9237 31.123 24.684 31.1107 24.3768 31.1107L24.3399 30.9079C25.4092 30.7727 26.4601 30.7051 27.4925 30.7051V34.0052C27.6031 33.1203 27.8858 32.3521 28.3406 31.7007C28.8076 31.037 29.4529 30.7051 30.2764 30.7051C32.0094 30.7051 32.8759 31.8051 32.8759 34.0052Z"
						fill="#AC8671"
					></path>
					<path
						d="M41.1601 35.2589C41.1601 33.9683 41.5289 32.8867 42.2663 32.0141C43.0038 31.1414 44.0055 30.7051 45.2714 30.7051C46.5374 30.7051 47.5575 31.1414 48.3319 32.0141C49.1062 32.8867 49.4934 33.9683 49.4934 35.2589C49.4934 36.5494 49.1185 37.631 48.3687 38.5037C47.6313 39.364 46.6296 39.7942 45.3636 39.7942C44.0977 39.7942 43.0775 39.3579 42.3032 38.4852C41.5412 37.6126 41.1601 36.5371 41.1601 35.2589ZM43.2803 38.2456C43.772 39.0322 44.4664 39.4255 45.3636 39.4255C46.2609 39.4255 46.9369 39.0383 47.3916 38.264C47.8587 37.4897 48.0922 36.4941 48.0922 35.2773C48.0922 34.0482 47.8464 33.0404 47.3547 32.2538C46.8631 31.4671 46.1687 31.0738 45.2714 31.0738C44.3865 31.0738 43.7105 31.4671 43.2434 32.2538C42.7887 33.0281 42.5613 34.0236 42.5613 35.2404C42.5613 36.4572 42.801 37.4589 43.2803 38.2456Z"
						fill="#AC8671"
					></path>
					<path
						d="M57.6464 37.6003C57.843 37.1209 57.9844 36.6355 58.0704 36.1438C58.1687 35.6522 58.2179 35.1237 58.2179 34.5583C58.2179 33.9929 58.2056 33.5197 58.181 33.1387C58.1565 32.7577 58.1134 32.4197 58.052 32.1247C57.9905 31.8174 57.8861 31.5962 57.7386 31.461C57.4682 31.2275 57.0196 31.1107 56.3927 31.1107L56.3558 30.9079C57.4251 30.7727 58.476 30.7051 59.5085 30.7051V35.517C59.5085 36.8813 59.5515 37.7785 59.6375 38.2087C59.7235 38.6266 59.9325 38.8355 60.2643 38.8355C60.4733 38.8355 60.7498 38.7495 61.094 38.5774L61.1862 38.7618C61.0878 38.8355 60.9588 38.9277 60.799 39.0383C60.6392 39.1366 60.3135 39.2718 59.8219 39.4439C59.3302 39.616 58.857 39.702 58.4023 39.702C58.2794 38.9892 58.2179 38.1657 58.2179 37.2316C57.6525 38.94 56.6754 39.7942 55.2865 39.7942C53.406 39.7942 52.4658 38.8109 52.4658 36.8444V35.0561C52.4658 33.2125 52.3736 32.1001 52.1892 31.7191C52.1278 31.5839 52.0172 31.461 51.8574 31.3504C51.7099 31.2398 51.544 31.1722 51.3596 31.1476C51.1875 31.123 50.9479 31.1107 50.6406 31.1107L50.6037 30.9079C51.673 30.7727 52.7239 30.7051 53.7563 30.7051V36.66C53.7563 37.5081 53.8854 38.1472 54.1435 38.5774C54.4139 39.0076 54.8256 39.2227 55.3787 39.2227C55.9441 39.2227 56.4112 39.069 56.7799 38.7618C57.1609 38.4545 57.4497 38.0673 57.6464 37.6003Z"
						fill="#AC8671"
					></path>
					<path
						d="M68.0655 30.6129C68.3728 30.6129 68.6432 30.6805 68.8767 30.8157C69.1102 30.9509 69.227 31.1353 69.227 31.3688C69.227 31.6023 69.1532 31.7867 69.0057 31.9219C68.8583 32.0571 68.6923 32.1247 68.508 32.1247C68.3236 32.1247 68.0901 32.0448 67.8074 31.885C67.537 31.7253 67.2482 31.6454 66.9409 31.6454C66.4615 31.6454 66.0682 32.0878 65.761 32.9728C65.466 33.8577 65.3185 34.884 65.3185 36.0516C65.3185 37.6249 65.3984 38.5774 65.5582 38.9093C65.6073 39.0199 65.6995 39.1244 65.8347 39.2227C65.9699 39.3087 66.1112 39.3579 66.2587 39.3702C66.4062 39.3825 66.6152 39.3886 66.8856 39.3886L66.9224 39.6098H62.4424L62.4793 39.3886C62.8726 39.3886 63.1553 39.3702 63.3274 39.3333C63.5117 39.2841 63.6654 39.1305 63.7883 38.8724C63.9112 38.6143 63.9788 38.2947 63.9911 37.9137C64.0157 37.5204 64.0279 36.8997 64.0279 36.0516V34.9823C64.0279 33.2739 63.9788 32.3029 63.8805 32.0694C63.7944 31.8359 63.7145 31.6515 63.6408 31.5163C63.567 31.3811 63.4564 31.2889 63.3089 31.2398C63.0385 31.166 62.6821 31.1291 62.2396 31.1291L62.2027 30.9264C63.2475 30.7789 64.2861 30.7051 65.3185 30.7051V33.4152C65.4537 32.5426 65.7548 31.8605 66.2219 31.3688C66.7012 30.8649 67.3158 30.6129 68.0655 30.6129Z"
						fill="#AC8671"
					></path>
					<path
						d="M24.6465 53.3413C23.4689 54.2322 22.0558 54.6776 20.4071 54.6776C18.7687 54.6776 17.4478 54.1503 16.4442 53.0955C15.4407 52.0408 14.939 50.725 14.939 49.148C14.939 47.5711 15.4202 46.2603 16.3828 45.2159C17.3556 44.1611 18.6612 43.6338 20.2996 43.6338C21.0574 43.6338 21.8151 43.7362 22.5729 43.941C23.3307 44.1458 23.9041 44.3557 24.2932 44.5707V46.5368L24.1243 46.5061C23.8683 45.5845 23.4228 44.9343 22.7879 44.5554C22.1633 44.1765 21.3339 43.9871 20.2996 43.9871C18.9889 43.9871 17.9905 44.4632 17.3044 45.4155C16.6183 46.3576 16.2753 47.5915 16.2753 49.1173C16.2753 50.6431 16.6388 51.877 17.3659 52.8191C18.0929 53.7611 19.1118 54.2322 20.4225 54.2322C21.3646 54.2322 22.1479 54.1196 22.7726 53.8943C23.4075 53.6588 24.0321 53.3208 24.6465 52.8805V53.3413Z"
						fill="#AC8671"
					></path>
					<path
						d="M30.4513 47.0283C30.7073 47.0283 30.9326 47.0847 31.1271 47.1973C31.3217 47.31 31.419 47.4635 31.419 47.6581C31.419 47.8527 31.3575 48.0063 31.2346 48.1189C31.1118 48.2315 30.9735 48.2879 30.8199 48.2879C30.6663 48.2879 30.4718 48.2213 30.2362 48.0882C30.011 47.9551 29.7703 47.8885 29.5143 47.8885C29.115 47.8885 28.7873 48.2571 28.5313 48.9944C28.2855 49.7317 28.1626 50.5868 28.1626 51.5596C28.1626 52.8703 28.2292 53.6639 28.3623 53.9404C28.4033 54.0325 28.4801 54.1195 28.5927 54.2015C28.7054 54.2731 28.8231 54.3141 28.946 54.3244C29.0689 54.3346 29.2429 54.3397 29.4682 54.3397L29.499 54.524H25.7665L25.7972 54.3397C26.1249 54.3397 26.3604 54.3244 26.5037 54.2936C26.6573 54.2527 26.7853 54.1247 26.8877 53.9096C26.9901 53.6946 27.0465 53.4284 27.0567 53.1109C27.0772 52.7832 27.0874 52.2661 27.0874 51.5596V50.6687C27.0874 49.2453 27.0465 48.4363 26.9645 48.2418C26.8929 48.0472 26.8263 47.8936 26.7649 47.781C26.7034 47.6683 26.6113 47.5916 26.4884 47.5506C26.2631 47.4892 25.9661 47.4584 25.5975 47.4584L25.5668 47.2895C26.4372 47.1666 27.3025 47.1051 28.1626 47.1051V49.3631C28.2753 48.636 28.5262 48.0677 28.9153 47.6581C29.3146 47.2383 29.8266 47.0283 30.4513 47.0283Z"
						fill="#AC8671"
					></path>
					<path
						d="M37.5957 52.8498C37.7596 52.4504 37.8773 52.046 37.949 51.6364C38.0309 51.2268 38.0719 50.7864 38.0719 50.3154C38.0719 49.8443 38.0616 49.4501 38.0412 49.1327C38.0207 48.8152 37.9848 48.5336 37.9336 48.2879C37.8824 48.0319 37.7954 47.8475 37.6725 47.7349C37.4472 47.5403 37.0735 47.4431 36.5512 47.4431L36.5205 47.2741C37.4114 47.1615 38.2869 47.1051 39.1471 47.1051V51.1141C39.1471 52.2508 39.1829 52.9983 39.2546 53.3567C39.3263 53.7048 39.5004 53.8789 39.7769 53.8789C39.9509 53.8789 40.1813 53.8072 40.4681 53.6639L40.5448 53.8175C40.4629 53.8789 40.3554 53.9557 40.2223 54.0479C40.0892 54.1298 39.8178 54.2424 39.4082 54.3858C38.9986 54.5292 38.6044 54.6008 38.2255 54.6008C38.1231 54.0069 38.0719 53.3208 38.0719 52.5426C37.6008 53.966 36.7868 54.6776 35.6296 54.6776C34.0629 54.6776 33.2796 53.8584 33.2796 52.22V50.7301C33.2796 49.1941 33.2028 48.2674 33.0492 47.9499C32.998 47.8373 32.9058 47.7349 32.7727 47.6427C32.6498 47.5506 32.5116 47.4943 32.358 47.4738C32.2146 47.4533 32.0149 47.4431 31.7589 47.4431L31.7282 47.2741C32.6191 47.1615 33.4946 47.1051 34.3548 47.1051V52.0664C34.3548 52.773 34.4623 53.3055 34.6773 53.6639C34.9026 54.0223 35.2456 54.2015 35.7064 54.2015C36.1775 54.2015 36.5666 54.0735 36.8738 53.8175C37.1912 53.5615 37.4319 53.2389 37.5957 52.8498Z"
						fill="#AC8671"
					></path>
					<path
						d="M42.8203 45.2619C42.6462 45.0879 42.5592 44.8831 42.5592 44.6475C42.5592 44.412 42.6462 44.2072 42.8203 44.0331C42.9944 43.8591 43.1992 43.772 43.4347 43.772C43.6702 43.772 43.875 43.8591 44.0491 44.0331C44.2232 44.2072 44.3102 44.412 44.3102 44.6475C44.3102 44.8831 44.2232 45.0879 44.0491 45.2619C43.875 45.436 43.6702 45.5231 43.4347 45.5231C43.1992 45.5231 42.9944 45.436 42.8203 45.2619ZM44.0184 47.1051V51.9896C44.0184 53.0648 44.0798 53.7253 44.2027 53.9711C44.3358 54.2168 44.7045 54.3397 45.3086 54.3397L45.3393 54.524H41.5915L41.6222 54.3397C42.2366 54.3397 42.6104 54.2168 42.7435 53.9711C42.8766 53.7151 42.9432 53.0443 42.9432 51.9589V50.8837C42.9432 49.6959 42.9073 48.9125 42.8357 48.5336C42.7742 48.1445 42.6821 47.8936 42.5592 47.781C42.3134 47.5557 41.9345 47.4431 41.4225 47.4431L41.3918 47.2741C42.2827 47.1615 43.1582 47.1051 44.0184 47.1051Z"
						fill="#AC8671"
					></path>
					<path
						d="M46.9119 52.2354C46.9119 52.901 47.0911 53.4028 47.4495 53.7407C47.8079 54.0684 48.2329 54.2322 48.7244 54.2322C49.2262 54.2322 49.6307 54.1196 49.9379 53.8943C50.2451 53.669 50.3987 53.3669 50.3987 52.988C50.3987 52.5989 50.2655 52.2815 49.9993 52.0357C49.7433 51.79 49.431 51.5903 49.0623 51.4367C48.6937 51.2831 48.3199 51.1244 47.9411 50.9605C47.5724 50.7967 47.255 50.556 46.9887 50.2386C46.7327 49.9211 46.6047 49.4962 46.6047 48.9637C46.6047 48.4312 46.8403 47.9909 47.3113 47.6427C47.7926 47.2843 48.3455 47.1051 48.9702 47.1051C49.8611 47.1051 50.5574 47.2485 51.0591 47.5352C51.0591 48.0063 50.9977 48.6616 50.8748 49.5013L50.6905 49.4552C50.6905 48.7794 50.5369 48.2879 50.2297 47.9807C49.9225 47.6735 49.5487 47.5199 49.1084 47.5199C48.6783 47.5199 48.3302 47.6325 48.0639 47.8578C47.8079 48.0831 47.6799 48.3903 47.6799 48.7794C47.6799 49.1583 47.8079 49.4655 48.0639 49.701C48.3302 49.9263 48.6476 50.1157 49.0163 50.2693C49.3849 50.4229 49.7535 50.5867 50.1222 50.7608C50.5011 50.9247 50.8185 51.1653 51.0745 51.4828C51.3407 51.79 51.4739 52.1688 51.4739 52.6194C51.4739 53.2748 51.2179 53.7816 50.7059 54.14C50.1939 54.4984 49.518 54.6776 48.6783 54.6776C47.8489 54.6776 47.1475 54.4575 46.574 54.0172C46.574 53.5052 46.6252 52.901 46.7276 52.2047L46.9119 52.2354Z"
						fill="#AC8671"
					></path>
					<path
						d="M58.9409 50.6379H53.9028V50.8991C53.9028 51.9845 54.1332 52.814 54.594 53.3874C55.0548 53.9506 55.6282 54.2322 56.3143 54.2322C57.3383 54.2322 58.0756 53.8226 58.5262 53.0034L58.7566 53.1263C58.2241 54.1605 57.3332 54.6776 56.0839 54.6776C55.1623 54.6776 54.3738 54.3448 53.7185 53.6792C53.0631 53.0136 52.7354 52.1176 52.7354 50.9912C52.7354 49.8546 53.0222 48.9227 53.5956 48.1957C54.1793 47.4687 54.9524 47.1051 55.915 47.1051C56.8878 47.1051 57.6353 47.438 58.1575 48.1036C58.6798 48.7589 58.9409 49.6037 58.9409 50.6379ZM55.961 47.4123C55.3671 47.4123 54.8961 47.6684 54.5479 48.1804C54.21 48.6821 54.0052 49.3528 53.9335 50.1925H57.7582C57.6865 48.3391 57.0874 47.4123 55.961 47.4123Z"
						fill="#AC8671"
					></path>
					<defs>
						<clipPath id="clip0_3316_1732">
							<rect
								width="43.385"
								height="18.24"
								fill="white"
								transform="translate(15.2476 4.14502)"
							></rect>
						</clipPath>
					</defs>
				</svg>
			</div>
			<nav
				class="flex w-2/3 lg:w-1/3 flex-wrap justify-center items-center text-base"
			>
				<a class="mx-2 lg:mx-5 text-primary hover:text-primary-light">Terms</a>
				<a
					class="mx-2 lg:mx-5 text-primary hover:text-primary-light"
				>Privacy</a>
				<a
					class="mx-2 lg:mx-5 text-primary hover:text-primary-light"
				>Cookies</a>
			</nav>
			<div
				class="w-full lg:w-1/3 flex justify-center lg:justify-end items-center mt-4 space-x-4 sm:mt-0"
			>
				<a
					href="/"
					class="text-primary-light transition-colors duration-300 hover:text-white"
				>
					<svg viewBox="0 0 24 24" fill="rgb(172 134 113)" class="h-5">
						<path
							d="M24,4.6c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2c-0.9-1-2.2-1.6-3.6-1.6 c-2.7,0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,8.1,4.1,6.1,1.7,3.1C1.2,3.9,1,4.7,1,5.6c0,1.7,0.9,3.2,2.2,4.1 C2.4,9.7,1.6,9.5,1,9.1c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.4,23.3,5.5,24,4.6z"
						></path>
					</svg>
				</a>
				<a
					href="/"
					class="text-primary-light transition-colors duration-300 hover:text-white"
				>
					<svg viewBox="0 0 30 30" fill="rgb(172 134 113)" class="h-6">
						<circle cx="15" cy="15" r="4"></circle>
						<path
							d="M19.999,3h-10C6.14,3,3,6.141,3,10.001v10C3,23.86,6.141,27,10.001,27h10C23.86,27,27,23.859,27,19.999v-10   C27,6.14,23.859,3,19.999,3z M15,21c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S18.309,21,15,21z M22,9c-0.552,0-1-0.448-1-1   c0-0.552,0.448-1,1-1s1,0.448,1,1C23,8.552,22.552,9,22,9z"
						></path>
					</svg>
				</a>
				<a
					href="/"
					class="text-primary-light transition-colors duration-300 hover:text-white"
				>
					<svg viewBox="0 0 24 24" fill="rgb(172 134 113)" class="h-5">
						<path
							d="M22,0H2C0.895,0,0,0.895,0,2v20c0,1.105,0.895,2,2,2h11v-9h-3v-4h3V8.413c0-3.1,1.893-4.788,4.659-4.788 c1.325,0,2.463,0.099,2.795,0.143v3.24l-1.918,0.001c-1.504,0-1.795,0.715-1.795,1.763V11h4.44l-1,4h-3.44v9H22c1.105,0,2-0.895,2-2 V2C24,0.895,23.105,0,22,0z"
						></path>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>