<div
	class="top-head flex items-center px-3 bg-primary text-primary-light gap-x-2"
>
	<div class="w-full flex justify-start items-center"><i
			class="ri-earth-fill"
		></i>
		EN</div>
	<div class="w-full flex justify-center items-center gap-x-2">
		<span class="text-yellow-500"><i class="ri-star-fill"></i><i
				class="ri-star-fill"
			></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
				class="ri-star-fill"
			></i></span>
		<span class="text-xl font-bold">98%</span>
		<span>Customer Satisfaction Rating</span></div>
	<div class="w-full flex justify-end items-center gap-x-2">
		<span>TALK TO OUR EXPERTS: </span>
		<span class="flex items-center gap-x-1"><i class="ri-phone-fill"></i>
			+61 2 8015 2809</span>
	</div>
</div>
<header class="text-gray-600 body-font shadow-md relative z-50"  id="top">
	<div
		class="container mx-auto flex flex-wrap p-5 py-3 flex-col md:flex-row items-center"
	>
		<nav
			class="flex lg:w-1/2 flex-wrap items-center text-base md:ml-auto uppercase font-semibold"
		>
			<a class="mr-10 hover:text-gray-900">home</a>
			<a class="mr-10 hover:text-gray-900">about us</a>
			<a class="mr-10 hover:text-gray-900">ROOM</a>
			<a class="mr-10 hover:text-gray-900">CRUISE ITINERARIES</a>
		</nav>
		  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
      <a href="#" class="no-underline py-1"><h1 class="font-bold text-lg tracking-widest">LOGO</h1></a>
      <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();">
        <span class="hamburger__top-bun"></span><span class="hamburger__bottom-bun"></span>
      </button>
    </div>
		<a
			class="absolute z-50 top-1 left-1/2 -translate-x-1/2 flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0"
		><svg
				width="151"
				height="122"
				viewBox="0 0 151 122"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_3460_1813)">
					<path
						d="M30.4062 14.3379C30.4062 14.3379 38.9215 18.3612 46.8112 13.6381C54.7009 8.91512 62.3473 6.74603 69.368 8.74019C76.3888 10.7344 82.6797 21.3349 83.8266 21.3349C84.9736 21.3349 94.2535 12.2037 96.4432 10.6994C98.7371 9.09005 102.317 8.0055 101.413 12.9384C100.51 17.8714 103.186 15.4224 103.186 15.4224C103.186 15.4224 99.8145 20.0755 98.3895 17.1367C96.9645 14.1979 94.8444 14.023 91.0212 17.9413C87.198 21.8597 83.0272 27.2475 81.3589 28.0521C79.6559 28.8568 78.787 27.1425 77.1882 24.1338C75.5894 21.125 73.1217 13.2533 62.9034 12.3437C52.685 11.4341 51.3295 17.4515 40.7984 17.3466C34.6118 17.3116 31.0319 14.8626 30.4062 14.3379Z"
						fill="#816454"
					></path>
					<path
						d="M37.0098 24.2851C37.0098 24.2851 44.1 25.1597 50.9123 24.1101C51.5031 24.0052 52.1287 23.9352 52.7196 23.9002C57.3422 22.6408 62.8337 23.9702 69.0898 25.8944C71.7313 26.6991 74.5118 28.2034 77.0142 29.5679C79.76 31.0722 81.7411 32.6116 82.888 32.3317C85.3905 31.702 91.1948 26.0693 94.2533 24.495C96.1997 23.4804 98.8412 22.6757 99.5015 25.0547C102.143 27.2588 105.375 27.1189 105.688 27.3638C105.688 27.3638 102.456 28.9731 99.8491 27.2938C97.7637 25.9294 95.2613 25.9644 92.0637 28.6233C91.7856 28.8682 91.4728 29.113 91.1948 29.3579C86.9198 32.9964 82.4014 37.0197 79.2386 38.0693C77.1532 38.734 75.5892 37.9294 73.5386 36.285C71.0709 34.3259 67.9776 29.3929 61.5477 27.4337C56.4733 25.8944 54.0056 26.0693 51.0513 26.1043C49.4525 26.1393 47.6104 25.9294 45.386 25.7545C40.6244 25.3696 37.3226 24.5649 37.0098 24.2851Z"
						fill="#816454"
					></path>
					<path
						d="M108.792 36.6255C108.792 36.6255 100.415 31.9375 92.9427 37.3602C85.4701 42.783 77.6152 47.0862 70.4902 45.7567C63.3304 44.4273 56.7267 35.1911 54.5023 33.3019C50.3315 29.7684 44.1797 31.5527 44.1797 31.5527C44.1797 31.5527 50.8181 28.7888 57.0743 32.7072C59.959 34.5264 66.3889 41.6634 76.642 41.6284C86.8951 41.5935 87.6945 35.401 98.1909 34.5614C104.343 34.0366 108.131 36.1357 108.792 36.6255Z"
						fill="#816454"
					></path>
				</g>
				<path
					d="M26.693 81.8849H8.3335L8.41031 81.424C9.02486 81.424 9.51137 81.3984 9.86985 81.3472C10.2539 81.2959 10.5996 81.1551 10.9069 80.9247C11.2142 80.6942 11.4318 80.4381 11.5598 80.1565C11.7135 79.8492 11.8415 79.3499 11.9439 78.6585C12.072 77.7623 12.136 75.9443 12.136 73.2045V63.679C12.136 59.8638 11.9567 57.5464 11.5983 56.727C11.2654 56.0101 10.702 55.6004 9.90826 55.4979C9.52417 55.4467 9.02486 55.4211 8.41031 55.4211L8.3335 54.9986H18.6655L18.5887 55.4211C17.3084 55.4211 16.3738 55.6644 15.7848 56.1509C15.1447 56.6886 14.8246 59.198 14.8246 63.679V73.7806C14.8246 76.546 14.9142 78.3897 15.0935 79.3115C15.2727 80.2077 15.6952 80.8094 16.361 81.1167C22.9673 81.1167 26.2705 79.5419 26.2705 76.3924L26.693 76.3156V81.8849Z"
					fill="#AC8671"
				></path>
				<path
					d="M28.4637 59.07C28.4637 58.5835 28.1692 58.2634 27.5803 58.1098C26.3512 57.8281 25.7366 57.1367 25.7366 56.0357C25.7366 55.4467 25.9287 54.9602 26.3128 54.5761C26.7225 54.192 27.2346 54 27.8491 54C28.4893 54 29.0398 54.2689 29.5007 54.8066C29.9872 55.3187 30.2305 56.1253 30.2305 57.2263C30.2305 58.3018 29.9104 59.3772 29.2703 60.4527C28.6557 61.5281 27.7595 62.45 26.5816 63.2181L26.0055 62.4884C27.6443 61.4129 28.4637 60.2735 28.4637 59.07Z"
					fill="#AC8671"
				></path>
				<path
					d="M43.7291 69.4788V73.3581C43.7291 76.2004 43.8187 78.0696 43.998 78.9658C44.1772 79.8364 44.6125 80.2717 45.3039 80.2717C45.7392 80.2717 46.3153 80.0925 47.0323 79.734L47.2243 80.1181C47.0195 80.2717 46.7506 80.4637 46.4177 80.6942C46.0849 80.899 45.4063 81.1807 44.3821 81.5392C43.3578 81.8977 42.372 82.0769 41.4246 82.0769C41.1685 81.0015 41.0405 79.2859 41.0405 76.9301C40.4772 78.5177 39.7346 79.8108 38.8128 80.8094C37.9166 81.7825 36.6619 82.269 35.0487 82.269C33.4355 82.269 32.1552 81.8465 31.2078 81.0015C30.286 80.1309 29.8251 78.953 29.8251 77.4679C29.8251 73.3453 33.5636 71.2712 41.0405 71.2456V69.8629C41.0405 68.0193 40.7716 66.6109 40.2339 65.6379C39.6962 64.6649 38.6976 64.1784 37.238 64.1784C36.4186 64.1784 35.7529 64.3832 35.2407 64.7929C34.7286 65.2026 34.3829 65.6507 34.2037 66.1372C33.7684 67.4687 33.1155 68.1345 32.2449 68.1345C31.3999 68.1345 30.9774 67.6608 30.9774 66.7134C30.9774 65.7403 31.6175 64.9337 32.8978 64.2936C34.1781 63.6534 35.7273 63.3334 37.5453 63.3334C39.3633 63.3334 40.8485 63.8583 42.0007 64.9081C43.153 65.9324 43.7291 67.4559 43.7291 69.4788ZM32.7442 77.6215C32.7442 78.6201 32.9874 79.4523 33.4739 80.1181C33.9604 80.7582 34.7286 81.0783 35.7785 81.0783C36.8539 81.0783 37.8269 80.5662 38.6976 79.5419C39.5682 78.4921 40.1571 77.3398 40.4644 76.0851C40.7972 74.8048 40.9893 73.4861 41.0405 72.129C38.1982 72.1546 36.0985 72.6795 34.7414 73.7038C33.4099 74.728 32.7442 76.0339 32.7442 77.6215Z"
					fill="#AC8671"
				></path>
				<path
					d="M67.1325 70.2086C67.3629 68.3649 67.9518 66.7646 68.8993 65.4075C69.8723 64.0247 71.2166 63.3334 72.9322 63.3334C74.6478 63.3334 75.9793 63.8583 76.9267 64.9081C77.8742 65.958 78.3479 67.4815 78.3479 69.4788V75.5474C78.3479 78.2104 78.5143 79.862 78.8472 80.5022C79.2057 81.1167 80.1275 81.424 81.6126 81.424L81.6894 81.8849H72.6249L72.7018 81.424C74.1101 81.424 74.9551 81.1039 75.2367 80.4638C75.5184 79.8236 75.6592 78.0696 75.6592 75.2017V69.8629C75.6592 68.0961 75.4032 66.7646 74.8911 65.8684C74.4045 64.9721 73.6108 64.524 72.5097 64.524C71.4087 64.524 70.4996 64.9337 69.7827 65.7531C69.0657 66.5469 68.528 67.5583 68.1695 68.7874C67.4781 71.1688 67.1325 73.5629 67.1325 75.9699C67.1325 78.3769 67.2861 79.8876 67.5934 80.5022C67.9262 81.1167 68.8481 81.424 70.3588 81.424L70.4356 81.8849H61.4095L61.4863 81.424C62.8947 81.424 63.7397 81.1039 64.0213 80.4638C64.303 79.8236 64.4438 78.0696 64.4438 75.2017V69.8629C64.4438 68.0961 64.1878 66.7646 63.6757 65.8684C63.1891 64.9721 62.3954 64.524 61.2943 64.524C60.1932 64.524 59.2842 64.9337 58.5673 65.7531C57.8503 66.5469 57.3126 67.5583 56.9541 68.7874C56.2627 71.1688 55.9171 73.5629 55.9171 75.9699C55.9171 78.3769 56.0707 79.8876 56.378 80.5022C56.7108 81.1167 57.6327 81.424 59.1434 81.424L59.2202 81.8849H49.8484L49.9253 81.424C51.4616 81.424 52.3962 81.1167 52.7291 80.5022C53.062 79.862 53.2284 78.1848 53.2284 75.4706V72.3979C53.2284 68.557 53.0364 66.2396 52.6523 65.4459C52.5243 65.1642 52.2938 64.9081 51.9609 64.6777C51.6537 64.4472 51.308 64.3064 50.9239 64.2552C50.5654 64.204 50.0661 64.1784 49.4259 64.1784L49.3491 63.7559C51.5768 63.4742 53.7662 63.3334 55.9171 63.3334V70.2086C56.1475 68.3649 56.7364 66.7646 57.6839 65.4075C58.6569 64.0247 60.0012 63.3334 61.7168 63.3334C65.3272 63.3334 67.1325 65.6251 67.1325 70.2086Z"
					fill="#AC8671"
				></path>
				<path
					d="M84.3913 72.8204C84.3913 70.1317 85.1594 67.8784 86.6958 66.0604C88.2322 64.2424 90.319 63.3334 92.9565 63.3334C95.5939 63.3334 97.7192 64.2424 99.3323 66.0604C100.946 67.8784 101.752 70.1317 101.752 72.8204C101.752 75.509 100.971 77.7623 99.4092 79.5803C97.8728 81.3728 95.7859 82.269 93.1485 82.269C90.5111 82.269 88.3858 81.36 86.7726 79.5419C85.185 77.7239 84.3913 75.4834 84.3913 72.8204ZM88.8083 79.0426C89.8325 80.6814 91.2793 81.5008 93.1485 81.5008C95.0177 81.5008 96.4261 80.6942 97.3735 79.081C98.3465 77.4679 98.833 75.3938 98.833 72.8588C98.833 70.2982 98.3209 68.1985 97.2967 66.5597C96.2724 64.9209 94.8257 64.1015 92.9565 64.1015C91.1128 64.1015 89.7045 64.9209 88.7315 66.5597C87.7841 68.1729 87.3103 70.247 87.3103 72.782C87.3103 75.317 87.8097 77.4038 88.8083 79.0426Z"
					fill="#AC8671"
				></path>
				<path
					d="M118.738 77.6983C119.147 76.6997 119.442 75.6882 119.621 74.664C119.826 73.6398 119.928 72.5387 119.928 71.3608C119.928 70.183 119.903 69.1971 119.851 68.4033C119.8 67.6096 119.711 66.9054 119.583 66.2909C119.455 65.6507 119.237 65.1898 118.93 64.9081C118.366 64.4216 117.432 64.1784 116.126 64.1784L116.049 63.7559C118.277 63.4742 120.466 63.3334 122.617 63.3334V73.3581C122.617 76.2004 122.706 78.0696 122.886 78.9658C123.065 79.8364 123.5 80.2717 124.192 80.2717C124.627 80.2717 125.203 80.0925 125.92 79.734L126.112 80.1181C125.907 80.2717 125.638 80.4637 125.305 80.6942C124.973 80.899 124.294 81.1807 123.27 81.5392C122.246 81.8977 121.26 82.0769 120.312 82.0769C120.056 80.5918 119.928 78.8762 119.928 76.9301C118.75 80.4894 116.715 82.269 113.821 82.269C109.903 82.269 107.945 80.2205 107.945 76.1235V72.3979C107.945 68.557 107.753 66.2396 107.368 65.4459C107.24 65.1642 107.01 64.9081 106.677 64.6777C106.37 64.4472 106.024 64.3064 105.64 64.2552C105.282 64.204 104.782 64.1784 104.142 64.1784L104.065 63.7559C106.293 63.4742 108.482 63.3334 110.633 63.3334V75.7395C110.633 77.5063 110.902 78.8378 111.44 79.734C112.003 80.6302 112.861 81.0783 114.013 81.0783C115.191 81.0783 116.164 80.7582 116.932 80.1181C117.726 79.4779 118.328 78.6713 118.738 77.6983Z"
					fill="#AC8671"
				></path>
				<path
					d="M140.444 63.1413C141.084 63.1413 141.647 63.2822 142.134 63.5638C142.62 63.8455 142.864 64.2296 142.864 64.7161C142.864 65.2026 142.71 65.5867 142.403 65.8684C142.096 66.15 141.75 66.2909 141.366 66.2909C140.982 66.2909 140.495 66.1244 139.906 65.7915C139.343 65.4587 138.741 65.2922 138.101 65.2922C137.102 65.2922 136.283 66.214 135.643 68.0577C135.028 69.9013 134.721 72.0394 134.721 74.472C134.721 77.7495 134.887 79.734 135.22 80.4253C135.323 80.6558 135.515 80.8734 135.797 81.0783C136.078 81.2575 136.373 81.36 136.68 81.3856C136.987 81.4112 137.422 81.424 137.986 81.424L138.063 81.8849H128.729L128.806 81.424C129.625 81.424 130.214 81.3856 130.573 81.3087C130.957 81.2063 131.277 80.8862 131.533 80.3485C131.789 79.8108 131.93 79.145 131.956 78.3513C132.007 77.5319 132.032 76.2388 132.032 74.472V72.2442C132.032 68.685 131.93 66.6621 131.725 66.1756C131.546 65.6891 131.379 65.305 131.226 65.0234C131.072 64.7417 130.842 64.5497 130.534 64.4472C129.971 64.2936 129.229 64.2168 128.307 64.2168L128.23 63.7943C130.406 63.487 132.57 63.3334 134.721 63.3334V68.9795C135.003 67.1615 135.63 65.7403 136.603 64.7161C137.602 63.6662 138.882 63.1413 140.444 63.1413Z"
					fill="#AC8671"
				></path>
				<path
					d="M49.9872 110.493C47.5339 112.349 44.5899 113.277 41.1552 113.277C37.7419 113.277 34.9899 112.178 32.8992 109.981C30.8085 107.784 29.7632 105.042 29.7632 101.757C29.7632 98.4717 30.7659 95.741 32.7712 93.565C34.7979 91.3677 37.5179 90.269 40.9312 90.269C42.5099 90.269 44.0885 90.4824 45.6672 90.909C47.2458 91.3357 48.4405 91.773 49.2512 92.221V96.317L48.8992 96.253C48.3658 94.333 47.4378 92.9784 46.1152 92.189C44.8138 91.3997 43.0859 91.005 40.9312 91.005C38.2005 91.005 36.1205 91.997 34.6912 93.981C33.2619 95.9437 32.5472 98.5144 32.5472 101.693C32.5472 104.872 33.3045 107.442 34.8192 109.405C36.3339 111.368 38.4565 112.349 41.1872 112.349C43.1499 112.349 44.7819 112.114 46.0832 111.645C47.4059 111.154 48.7072 110.45 49.9872 109.533V110.493Z"
					fill="#AC8671"
				></path>
				<path
					d="M62.0804 97.341C62.6138 97.341 63.0831 97.4584 63.4884 97.693C63.8938 97.9277 64.0964 98.2477 64.0964 98.653C64.0964 99.0584 63.9684 99.3784 63.7124 99.613C63.4564 99.8477 63.1684 99.965 62.8484 99.965C62.5284 99.965 62.1231 99.8264 61.6324 99.549C61.1631 99.2717 60.6618 99.133 60.1284 99.133C59.2964 99.133 58.6138 99.901 58.0804 101.437C57.5684 102.973 57.3124 104.754 57.3124 106.781C57.3124 109.512 57.4511 111.165 57.7284 111.741C57.8138 111.933 57.9738 112.114 58.2084 112.285C58.4431 112.434 58.6884 112.52 58.9444 112.541C59.2004 112.562 59.5631 112.573 60.0324 112.573L60.0964 112.957H52.3204L52.3844 112.573C53.0671 112.573 53.5578 112.541 53.8564 112.477C54.1764 112.392 54.4431 112.125 54.6564 111.677C54.8698 111.229 54.9871 110.674 55.0084 110.013C55.0511 109.33 55.0724 108.253 55.0724 106.781V104.925C55.0724 101.96 54.9871 100.274 54.8164 99.869C54.6671 99.4637 54.5284 99.1437 54.4004 98.909C54.2724 98.6744 54.0804 98.5144 53.8244 98.429C53.3551 98.301 52.7364 98.237 51.9684 98.237L51.9044 97.885C53.7178 97.629 55.5204 97.501 57.3124 97.501V102.205C57.5471 100.69 58.0698 99.5064 58.8804 98.653C59.7124 97.7784 60.7791 97.341 62.0804 97.341Z"
					fill="#AC8671"
				></path>
				<path
					d="M76.9647 109.469C77.306 108.637 77.5514 107.794 77.7007 106.941C77.8714 106.088 77.9567 105.17 77.9567 104.189C77.9567 103.208 77.9354 102.386 77.8927 101.725C77.85 101.064 77.7753 100.477 77.6687 99.965C77.562 99.4317 77.3807 99.0477 77.1247 98.813C76.6554 98.4077 75.8767 98.205 74.7887 98.205L74.7247 97.853C76.5807 97.6184 78.4047 97.501 80.1967 97.501V105.853C80.1967 108.221 80.2714 109.778 80.4207 110.525C80.57 111.25 80.9327 111.613 81.5087 111.613C81.8714 111.613 82.3514 111.464 82.9487 111.165L83.1087 111.485C82.938 111.613 82.714 111.773 82.4367 111.965C82.1594 112.136 81.594 112.37 80.7407 112.669C79.8874 112.968 79.066 113.117 78.2767 113.117C78.0633 111.88 77.9567 110.45 77.9567 108.829C76.9754 111.794 75.2794 113.277 72.8687 113.277C69.6047 113.277 67.9727 111.57 67.9727 108.157V105.053C67.9727 101.853 67.8127 99.9224 67.4927 99.261C67.386 99.0264 67.194 98.813 66.9167 98.621C66.6607 98.429 66.3727 98.3117 66.0527 98.269C65.754 98.2264 65.338 98.205 64.8047 98.205L64.7407 97.853C66.5967 97.6184 68.4207 97.501 70.2127 97.501V107.837C70.2127 109.309 70.4367 110.418 70.8847 111.165C71.354 111.912 72.0687 112.285 73.0287 112.285C74.01 112.285 74.8207 112.018 75.4607 111.485C76.122 110.952 76.6234 110.28 76.9647 109.469Z"
					fill="#AC8671"
				></path>
				<path
					d="M87.8492 93.661C87.4865 93.2984 87.3052 92.8717 87.3052 92.381C87.3052 91.8904 87.4865 91.4637 87.8492 91.101C88.2119 90.7384 88.6385 90.557 89.1292 90.557C89.6199 90.557 90.0465 90.7384 90.4092 91.101C90.7719 91.4637 90.9532 91.8904 90.9532 92.381C90.9532 92.8717 90.7719 93.2984 90.4092 93.661C90.0465 94.0237 89.6199 94.205 89.1292 94.205C88.6385 94.205 88.2119 94.0237 87.8492 93.661ZM90.3452 97.501V107.677C90.3452 109.917 90.4732 111.293 90.7292 111.805C91.0065 112.317 91.7745 112.573 93.0332 112.573L93.0972 112.957H85.2892L85.3532 112.573C86.6332 112.573 87.4119 112.317 87.6892 111.805C87.9665 111.272 88.1052 109.874 88.1052 107.613V105.373C88.1052 102.898 88.0305 101.266 87.8812 100.477C87.7532 99.6664 87.5612 99.1437 87.3052 98.909C86.7932 98.4397 86.0039 98.205 84.9372 98.205L84.8732 97.853C86.7292 97.6184 88.5532 97.501 90.3452 97.501Z"
					fill="#AC8671"
				></path>
				<path
					d="M96.3734 108.189C96.3734 109.576 96.7468 110.621 97.4934 111.325C98.2401 112.008 99.1254 112.349 100.149 112.349C101.195 112.349 102.037 112.114 102.677 111.645C103.317 111.176 103.637 110.546 103.637 109.757C103.637 108.946 103.36 108.285 102.805 107.773C102.272 107.261 101.621 106.845 100.853 106.525C100.085 106.205 99.3068 105.874 98.5174 105.533C97.7494 105.192 97.0881 104.69 96.5334 104.029C96.0001 103.368 95.7334 102.482 95.7334 101.373C95.7334 100.264 96.2241 99.3464 97.2054 98.621C98.2081 97.8744 99.3601 97.501 100.661 97.501C102.517 97.501 103.968 97.7997 105.013 98.397C105.013 99.3784 104.885 100.744 104.629 102.493L104.245 102.397C104.245 100.989 103.925 99.965 103.285 99.325C102.645 98.685 101.867 98.365 100.949 98.365C100.053 98.365 99.3281 98.5997 98.7734 99.069C98.2401 99.5384 97.9734 100.178 97.9734 100.989C97.9734 101.778 98.2401 102.418 98.7734 102.909C99.3281 103.378 99.9894 103.773 100.757 104.093C101.525 104.413 102.293 104.754 103.061 105.117C103.851 105.458 104.512 105.96 105.045 106.621C105.6 107.261 105.877 108.05 105.877 108.989C105.877 110.354 105.344 111.41 104.277 112.157C103.211 112.904 101.803 113.277 100.053 113.277C98.3254 113.277 96.8641 112.818 95.6694 111.901C95.6694 110.834 95.7761 109.576 95.9894 108.125L96.3734 108.189Z"
					fill="#AC8671"
				></path>
				<path
					d="M121.434 104.861H110.938V105.405C110.938 107.666 111.418 109.394 112.378 110.589C113.338 111.762 114.532 112.349 115.962 112.349C118.095 112.349 119.631 111.496 120.57 109.789L121.05 110.045C119.94 112.2 118.084 113.277 115.482 113.277C113.562 113.277 111.919 112.584 110.554 111.197C109.188 109.81 108.506 107.944 108.506 105.597C108.506 103.229 109.103 101.288 110.298 99.773C111.514 98.2584 113.124 97.501 115.13 97.501C117.156 97.501 118.714 98.1944 119.802 99.581C120.89 100.946 121.434 102.706 121.434 104.861ZM115.226 98.141C113.988 98.141 113.007 98.6744 112.282 99.741C111.578 100.786 111.151 102.184 111.002 103.933H118.97C118.82 100.072 117.572 98.141 115.226 98.141Z"
					fill="#AC8671"
				></path>
				<defs>
					<clipPath id="clip0_3460_1813">
						<rect
							width="90.3852"
							height="38"
							fill="white"
							transform="translate(30.4062 8)"
						></rect>
					</clipPath>
				</defs>
			</svg>
		</a>
		<svg
			class="absolute top-full left-1/2 -translate-x-1/2 filter-shadow"
			width="316"
			height="87"
			viewBox="0 0 316 87"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g filter="url(#filter0_b_3460_1812)">
				<path
					d="M55.9644 63.9835L52.1229 42.7448C47.6468 17.9975 26.102 0 0.953163 0H315.28C289.253 0 267.235 19.2416 263.749 45.0334L261.353 62.7512C259.476 76.6391 247.62 87 233.606 87H83.5173C69.9756 87 58.3746 77.309 55.9644 63.9835Z"
					fill="white"
				></path>
			</g>
			<defs>
				<filter
					id="filter0_b_3460_1812"
					x="-63.0469"
					y="-64"
					width="442.327"
					height="215"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
					<feGaussianBlur
						in="BackgroundImageFix"
						stdDeviation="32"
					></feGaussianBlur>
					<feComposite
						in2="SourceAlpha"
						operator="in"
						result="effect1_backgroundBlur_3460_1812"
					></feComposite>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="effect1_backgroundBlur_3460_1812"
						result="shape"
					></feBlend>
				</filter>
			</defs>
		</svg>
		<nav
			class="flex justify-end lg:w-1/2 flex-wrap items-center text-base md:ml-auto uppercase font-semibold"
		>
			<a class="ml-10 hover:text-gray-900">GALLERY</a>
			<a class="ml-10 hover:text-gray-900">GUEST REVIEWS</a>
			<a class="ml-10 hover:text-gray-900">new & event</a>
			<a class="ml-10 hover:text-gray-900">Booking</a>
		</nav>
	</div>
</header>