<h2
	class="mb-8 w-full flex justify-center text-3xl uppercase font-display first-letter:text-primary leading-tight"
>Frequent Questions</h2>
<div class="accordion flex flex-col items-center justify-center">

	<!--  Panel 1  -->
	<div class="w-8/12">
		<input type="checkbox" name="panel" id="panel-1" class="hidden" />
		<label
			for="panel-1"
			class="relative block bg-white border-t border-slate-200 text-primary font-display text-xl p-4"
		>Panel 1</label>
		<div class="accordion__content overflow-hidden bg-grey-lighter">
			<h2 class="accordion__header pt-4 pl-4">Header</h2>
			<p class="accordion__body p-4" id="panel1">Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Iusto possimus at a cum saepe molestias
				modi illo facere ducimus voluptatibus praesentium deleniti fugiat ab
				error quia sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit
				amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<!-- Panel 2 -->
	<div class="w-8/12">
		<input type="checkbox" name="panel" id="panel-2" class="hidden" />
		<label
			for="panel-2"
			class="relative block bg-white border-t border-slate-200 text-primary font-display text-xl p-4"
		>Panel 2</label>
		<div class="accordion__content overflow-hidden bg-grey-lighter">
			<h2 class="accordion__header pt-4 pl-4">Header</h2>
			<p class="accordion__body p-4">Lorem ipsum dolor sit amet, consectetur
				adipisicing elit. Iusto possimus at a cum saepe molestias modi illo
				facere ducimus voluptatibus praesentium deleniti fugiat ab error quia
				sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<!--  Panel 3  -->
	<div class="w-8/12">
		<input type="checkbox" name="panel" id="panel-3" class="hidden" />
		<label
			for="panel-3"
			class="relative block bg-white border-t border-slate-200 text-primary font-display text-xl p-4"
		>Panel 3</label>
		<div class="accordion__content overflow-hidden bg-grey-lighter">
			<h2 class="accordion__header pt-4 pl-4">Header</h2>
			<p class="accordion__body p-4">Lorem ipsum dolor sit amet, consectetur
				adipisicing elit. Iusto possimus at a cum saepe molestias modi illo
				facere ducimus voluptatibus praesentium deleniti fugiat ab error quia
				sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
</div>
<a
	href="#"
	role="button"
	class="w-8/12 mx-auto flex items-center flex-row text-primary gap-2 border-t border-slate-200 p-4"
>
	<svg
		width="52"
		height="52"
		viewBox="0 0 52 52"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g clip-path="url(#clip0_3317_3225)">
			<path
				d="M2.5 19.4158C2.5 19.4158 6.9279 21.5079 11.0305 19.0519C15.1331 16.596 19.1092 15.4681 22.7599 16.505C26.4107 17.542 29.6819 23.0542 30.2783 23.0542C30.8747 23.0542 35.7002 18.306 36.8388 17.5238C38.0317 16.6869 39.8932 16.123 39.4233 18.6881C38.9534 21.2532 40.345 19.9797 40.345 19.9797C40.345 19.9797 38.5919 22.3993 37.8509 20.8711C37.1099 19.343 36.0075 19.252 34.0194 21.2896C32.0314 23.3271 29.8626 26.1287 28.9951 26.5471C28.1095 26.9655 27.6577 26.0741 26.8264 24.5096C25.995 22.9451 24.7118 18.8518 19.3983 18.3788C14.0848 17.9058 13.38 21.0349 7.90385 20.9803C4.68684 20.9621 2.82532 19.6886 2.5 19.4158Z"
				fill="#AC8671"
			></path>
			<path
				d="M5.93408 24.5883C5.93408 24.5883 9.62099 25.0431 13.1633 24.4973C13.4706 24.4427 13.7959 24.4063 14.1031 24.3881C16.5068 23.7332 19.3624 24.4245 22.6155 25.4251C23.9891 25.8435 25.4349 26.6258 26.7362 27.3353C28.164 28.1175 29.1941 28.918 29.7905 28.7725C31.0918 28.445 34.11 25.5161 35.7004 24.6974C36.7125 24.1698 38.0861 23.7514 38.4295 24.9885C39.803 26.1346 41.4838 26.0618 41.6465 26.1892C41.6465 26.1892 39.9657 27.026 38.6102 26.1528C37.5258 25.4433 36.2246 25.4615 34.5618 26.8441C34.4172 26.9714 34.2546 27.0988 34.11 27.2261C31.887 29.1181 29.5375 31.2102 27.8929 31.756C26.8085 32.1016 25.9952 31.6832 24.9289 30.8282C23.6457 29.8094 22.0372 27.2443 18.6937 26.2256C16.055 25.4251 14.7718 25.5161 13.2356 25.5342C12.4042 25.5524 11.4464 25.4433 10.2897 25.3523C7.81368 25.1522 6.09674 24.7338 5.93408 24.5883Z"
				fill="#AC8671"
			></path>
			<path
				d="M43.26 31.0052C43.26 31.0052 38.9043 28.5674 35.0186 31.3872C31.1329 34.207 27.0484 36.4447 23.3434 35.7534C19.6204 35.0621 16.1865 30.2593 15.0298 29.2769C12.861 27.4395 9.66211 28.3673 9.66211 28.3673C9.66211 28.3673 13.1141 26.9302 16.3672 28.9677C17.8673 29.9137 21.2108 33.6249 26.5424 33.6067C31.8739 33.5885 32.2896 30.3685 37.7477 29.9319C40.9466 29.659 42.9166 30.7505 43.26 31.0052Z"
				fill="#AC8671"
			></path>
		</g>
		<rect
			x="0.5"
			y="0.5"
			width="51"
			height="51"
			rx="25.5"
			stroke="#AC8671"
		></rect>
		<defs>
			<clipPath id="clip0_3317_3225">
				<rect
					width="46.9998"
					height="19.7598"
					fill="white"
					transform="translate(2.5 16.1201)"
				></rect>
			</clipPath>
		</defs>
	</svg>

	<div class="text-xl leading-none">Contact us</div>
	<i class="ri-arrow-right-s-line"></i>
</a>