
<label class="block relative">
                <span class="label-control">Label select</span>
                <select class="
                    form-control
                  ">
                  <option>Corporate event</option>
                  <option>Wedding</option>
                  <option>Birthday</option>
                  <option>Other</option>
                </select>
              </label>